*{
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(248, 232, 232);
}
.container{
    background: rgb(245 230 226);
    box-shadow: rgb(184, 183, 185) 0 0 20px 0;
    padding: 10px;
}
form input{
    border: none;
    border-bottom: 1px solid #21be2b;
    padding: 5px 0;
    color: rgb(1, 1, 20);
    outline: none;
    background: transparent;
}
button{
    border: 1px solid #21be2b;
    color: #9C27B0;
    background: transparent;
    outline: none;
    padding: 5px;
}
button:hover{
    background: #18e626;
    color: rgb(250, 246, 246);
    font-size: 14px;
}